# Порт, на котором открывается приложение
APP_PORT=5173

POSTGRES_USER=mindmap
POSTGRES_PASSWORD=mindmap
POSTGRES_DB=mindmap

# Обязательно смените в продакшене
JWT_SECRET=change-me
COOKIE_SECURE=false

S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=mindmap
